a:hover {
	color:#428EDA;
}

.navigation li:before {
content:'';
background:#428EDA;
}

.apply-info ul li::before{
	color: #428EDA;
}

.apply-info .somewords::before,.apply-info .somewords::after{
		color:#428EDA;
}

.skills-display li::before,.project-content li::before{
  color:#428eda;
}

.sep1 {
background:#428EDA;
}

.sep2 {
background:#428EDA;
}

.np-controls a:hover i {
color:#428EDA;
}

#filter-list li:hover {
background:#428EDA;
}

#filter-list li.active {
background:#428EDA;
  color: #2c383c;
}

.skills-bg span {
background:#428EDA;
}

.skills-table ul li:hover {
background:#428EDA;
}

.project-link {
background:#428EDA;
}

.project-info blockquote {
color:#428EDA;
}

.contact-form button {
background:#428EDA;
}

.contact-form button:hover {
color:#428EDA;
}

.social li a:hover {
color:#428EDA;
}

.reply {
background:#428EDA;
}

.reply:hover {
color:#428EDA;
}

.overlay {
background:rgba(66,142,218,0.9);
}

.folio-img h4 ,
.folio-img p ,
.navigation li a ,
.navigation li a i ,
.navigation li a:hover, .navigation li a:hover i, .flex-active a, .flex-active a i ,
#filter-list li:hover ,
#filter-list li.active ,
.project-link i ,
.project-link a ,
.project-link a:hover ,
.reply ,
.contact-form button {
color:#4e503b;
	color: #fff !important;
}
